@{
    ViewData["Title"] = "Presentacion";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <div class="vh-100 d-flex align-items-center justify-content-center">
        <ul>
            <li>
                <a href="/Compra/RegistrarCompra">Registrar Compra</a>
            </li>
            <li>
                <a href="/Compra/Resultado">Resultados</a>
            </li>
        </ul>
    </div>
    <div class="alert alert-success" role="alert">
        ¡Bootstrap está funcionando!
    </div>

</div>
